# Tuplas

Tuplas são sequências imutáveis. Não é possivel alterar o valor de seus elementos.

sintaxe: parentêses ()

Podem ser construidas:
*   Utilizando um par de parenteses: ()
*   Utilizando uma vírgula à direita: x
*   Utilizando um par de parênteses com itens separados por virgulas: (x, y, z)
*   Utilizando: tuple() ou tuple(interator)

## Criação de Tuplas e Acesso aos elementos

In [2]:
# TUPLA HOMOGENEA
tupla = (1, 2, 3, 4)
print(tupla)
print(type(tupla))

(1, 2, 3, 4)
<class 'tuple'>

In [3]:
# TUPLA HETEROGENIA
tupla = (1, '2', 3.4, None)
print(tupla)
print(type(tupla))

(1, '2', 3.4, None)
<class 'tuple'>

In [5]:
# TUPLA VAZIA
tupla = ()
print(tupla)
print(type(tupla))

()
<class 'tuple'>

In [ ]:
nome = 'Passat'
valor = '153000'
(nome, valor)

O tipo tuple permite criar tuplas, utilizando como argumento algum tipo de iterador. Neste caso, foi utilizada uma lista do Python.

In [1]:
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DSS'])
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DSS')

 Podemos criar uma tupla utilizando parênteses, com os seus itens separados por vírgulas.

In [2]:
( 1, 2, 3)

(1, 2, 3)

Não é preciso utilizar os parênteses para se definir uma tupla, basta definir os elementos e separá-los por vírgulas

In [3]:
1, 2, 3

(1, 2, 3)

## Acessando tuplas

In [2]:
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DSS'])
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DSS')

In [8]:
nome_carros[0]

'Jetta Variant'

In [9]:
nome_carros[1]

'Passat'

In [10]:
nome_carros[-1]

'DSS'

Utilizando slice

In [11]:
nome_carros[1:3]

('Passat', 'Crossfox')

## Interando em Tuplas

In [3]:
for item in nome_carros:
    print(item)

Jetta Variant
Passat
Crossfox
DSS

## Desempacotamento de tuplas

In [4]:
carro1, carro2, carro3, carro4 = nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DSS'])
print("Carro 1: ", carro1)
print("Carro 2: ", carro2)
print("Carro 3: ", carro3)
print("Carro 4: ", carro4)

Carro 1:  Jetta Variant
Carro 2:  Passat
Carro 3:  Crossfox
Carro 4:  DSS

In [6]:
_, A, B, _ = nome_carros
print(A)
print(B)

Passat
Crossfox

In [7]:
_, C, *_ = nome_carros
print(C)

Passat

## ZIP()

Criação de interador com tuplas

In [8]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DSS']

In [9]:
valores = [88078.64, 106161.94, 72832.16, 124549]

In [11]:
zip(carros, valores)
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DSS', 124549)]

In [12]:
for item in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DSS', 124549)

In [13]:
for carro, valor in zip(carros, valores):
    print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DSS 124549

In [14]:
for carro, valor in zip(carros, valores):
    if (valor>100000):
        print(carro)

Passat
DSS

Impressão dos nomes dos veículos com quilometragem abaixo de 20000km.

In [24]:
nomes = ['Passat', 'Crossfox', 'DS5', 'C4', 'Jetta']
kms = [15000, 12000, 32000, 8000, 50000]

In [ ]:
for nome, km in zip(nomes, kms):
    if(km < 20000):
        print(nome)

Observe que na construção do laço for (1ª linha do código), utilizamos o desempacotamento de tuplas e a função zip().

## Operações em Tuplas

### Concatenação de Tuplas

In [6]:
a = (10, 20, 30)
b = (1, 5, 6)
print(a+a)
print(a+b)

(10, 20, 30, 10, 20, 30)
(10, 20, 30, 1, 5, 6)

### Repetição de Tuplas

In [7]:
a = (10, 20, 30)
print(a*3)

(10, 20, 30, 10, 20, 30, 10, 20, 30)

### Filiação de Tuplas

In [8]:
a = (10, 20, 30)
print(10 in a)

True

### Três níveis de tuplas

Observe que se trata de uma tupla (1º nível) com duas tuplas, que representam um conjunto de dados de dois veículos (2º nível), e que uma destas informações (acessórios) vêm também dentro de uma tupla (3º nível).

In [22]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

Iterar na tupla carros e imprimir os acessórios

In [23]:
for tupla in carros:
    for item in tupla[-1]:
        print(item)

Rodas de liga
Travas elétricas
Piloto automático
Central multimídia
Teto panorâmico
Freios ABS

### Funções utéis

In [9]:
a = (10, 20, 30)

print(len(a))
print(min(a))
print(max(a))
print(sum(a))

3
10
30
60

## NumPy e Tuplas

In [12]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [ ]:
carros[0][3] #false

carros[-1][-1][-1] #'Freios ABS'

carros[0][-1][:2] #('Rodas de liga', 'Travas elétricas')